<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<rewrite>
		<rules>
			<rule name="Reverse Proxy to api" stopProcessing="true">
				<match url="^api/v1\/(.*)$" />
				<action type="Rewrite" url="http://localhost:5600/api/v1/{R:1}" />
			</rule>
		</rules>
	</rewrite>
  </system.webServer>
</configuration>
